@import "../../scss/_variables";

.content {
  padding: 40px 0;
  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 11px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 730px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &__cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}

@media (max-width: 1230px) {
  .content {
    &__top {
      display: block;
    }
  }
}
