.photo .button{
    border: none;
}

.photo {
    width: 100%;
    height: 100%;
    margin: 30px 0;
    border: 6px solid;
    border-radius: 100%;
    transition: all .3s;
    cursor: pointer;
  }
  