.search_wrap{
    position: relative;
}

.search{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 12px 20px;
    padding-left: 40px;
    max-width: 220px;
    border-radius: 10px;
    font-size: 16px;
    &:focus {
        border:  1px solid rgba(0,0,0,0.5);
    }
}

.icon{
    width: 24px;
    height: 24px;
    opacity: 0.5;
    position: absolute;
    left: 10px;
    top: 10px;
}

.cross{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    z-index: 5;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        opacity: 1;
    }
}